<!-- Shared Reusable Author Information Box Component -->
<div class="falcon-author-box">
  <div class="falcon-author-avatar" style="background: {{AUTHOR_GRADIENT}};">
    {{AUTHOR_INITIAL}}
  </div>
  <div class="falcon-author-info">
    <span class="falcon-author-badge">Verified Falcon Contributor</span>
    <h4 class="falcon-author-name">Written by {{AUTHOR_NAME}}</h4>
    <div class="falcon-author-role">{{AUTHOR_ROLE}}</div>
    <p class="falcon-author-bio">{{AUTHOR_BIO}}</p>
  </div>
</div>
